<?
html_header_('css', 'superfish.css');
//html_header_('css', 'superfish-navbar.css');
html_header_('js', 'hoverIntent.js');
html_header_('js', 'superfish.js');
html_header_('js', 'admin.js');
html_header_('js', 'util.js');
?>
<script type="text/javascript">
    // initialise plugins
    $(document).ready(function(){
        $("ul.sf-menu").superfish({
            delay       : 10,
            speed       : 10
        });
    });
</script>
<div id='menu_bar'>
    <ul class="sf-menu">
            <li>
                <a href="#topics">Topics</a>
				<ul>
					<li><a href="javascript:loadPage('<?url_to_('/admin/topic/search')?>')">Search</a></li>
					<li><a href="javascript:loadPage('<?url_to_('/admin/topic/edit')?>')">New</a></li>
				</ul>

            </li>

            <li class="current">
                <a href="#content">Content</a>
                <ul>
                    <?  foreach($content_menu as $content_type_id => $menu) { ?>
                        <?  if ( $menu['type'] == 1 ) {?>

                            <li>
                                <a href="javascript:loadPage('<?url_to_("/admin/content/edit?id={$menu['content_id']}&content_type_id=$content_type_id")?>')"><?=$menu['description']?></a>
                            </li>

                        <?  } else { ?>
                            <li class="current">
                                <a href="javascript:void()"><?=$menu['description']?></a>
                                <ul>
                                    <li><a href="javascript:loadPage('<?url_to_('/admin/content/search?content_type_id='.$content_type_id)?>')">Search</a></li>
                                    <li><a href="javascript:loadPage('<?url_to_('/admin/content/edit?content_type_id='.$content_type_id)?>')">New</a></li>
                                </ul>
                            </li>
                        <?  } ?>
                    <?  } ?>
                </ul>
            </li>
            <li class="current">
                <a href="#">Comments</a>
				<ul>

						<li><a href="javascript:loadPage('<?url_to_('/admin/comment/search')?>')">Search</a></li>
						<li><a href="javascript:loadPage('<?url_to_('/admin/comment/waiting')?>')">Waiting</a></li>

				</ul>
            </li>

            <li>
                <a href="javascript:loadPage('<?url_to_('/admin/setting')?>?t=<?=$token?>')">Settings</a>
            </li>
            <li>
                <a href="<?url_to_('/admin/logout')?>?t=<?=$token?>">Logout</a>
            </li>

    </ul>
</div>
<br/>
<span id='main_area' style='float:left'></span>
