<br/>
<div class='form_area'>

    <div class='tabs'><?=$content_type?></div>

    <div class='clear'></div>

        <div id='content_area'>
            <form action="" method="post" id='frmSearch' onsubmit='return doSearch();'>
                <?form_hidden_('content_type_id', $content_type_id)?>
                <span title='write some words and click in Search'><?form_input_('search', $search, 'class="admin_input"')?><?form_button_('btnSearch', 'Search', 'onclick="doSearch()"');?></span>

                <p>
                    <table>
                        <tr>
                            <td>Title</td>
                            <td>Date</td>
                            <td>Operations</td>
                        </tr>

                        <?  foreach ( $list as $content ) { ?>

                            <tr id="c_<?=$content['content_id']?>" class='rows'>
                                <td><?=$content['title']?></td>
                                <td title='<?=date($content['datetime'])?>'><?=dt_timesince_($content['datetime'])?> ago </td>
                                <td>
                                    <a href='javascript:loadPage("<?=$url_operation."/edit?id={$content['content_id']}"?>")' class='link_edit'>Edit</a>
                                    |
                                    <a href='javascript:deleteContent(<?=$content['content_id']?>,"#c_<?=$content['content_id']?>")' class='link_delete'>Delete</a>
                                </td>
                            </tr>
                        <?  }?>
                    </table>
                </p>
            </form>
        </div>
    </div>
</div>

    <script type="text/javascript">
    //<![CDATA[
        $("#search").focus();

        function doSearch() {
            loadPage('<?=$action?>', $('#frmSearch').serialize(), 'post');
            return false;
        }

        function deleteContent( content_id, elem ) {
            if ( confirm("O conteúdo será apagado, deseja continuar ?") ) {

                $.post('<?=$url_operation?>/delete', 'content_id='+content_id, function(resp) {
                    if ( resp.status == 'ok' ) {
                        $(elem).css('display', 'none');
                    }
                },'json');

            }
        }


    //]]>
    </script>
