<br/>
<div class='form_area'>
    <div class='tabs'>Listing Topic » <?php echo $content_type?></div>
    <div class='clear'></div>
	<div id='content_area'>

		<form action="" method="post" id='frmSearch' onsubmit='return doSearch();'>
			<?php form_hidden_('content_type_id', $content_type_id)?>
            <span title='write some words and click in Search'><?php form_input_('search', $search, 'class="admin_input"')?><?php form_button_('btnSearch', 'Search', 'onclick="doSearch()"');?></span>
			<table>
				<thead>
					<tr>
						<th>Title</th>
						<th>Date</th>
						<th>Operations</th>
					</tr>
				</thead>
					<?php  foreach ( $list as $content ) { ?>

						<tr id="c_<?php echo $content['content_id']?>" class='rows'>
							<td><?php echo $content['title']?></td>
							<td title='<?php echo date($content['datetime'])?>'><?php echo dt_timesince_($content['datetime'])?> ago </td>
							<td>
								<a href='javascript:loadPage("<?php echo $url_operation."/edit?id={$content['content_id']}"?>")' class='link_edit'>Edit</a>
								|
								<a href='javascript:deleteContent(<?php echo $content['content_id']?>,"#c_<?php echo $content['content_id']?>")' class='link_delete'>Delete</a>
							</td>
						</tr>
					<?php  }?>
            </table>
		</form>

	</div>
</div>
<script type="text/javascript">
//<![CDATA[
	$("#search").focus();

	function doSearch() {
		loadPage('<?php echo $action?>', $('#frmSearch').serialize(), 'post');
		return false;
	}

	function deleteContent( content_id, elem ) {
		if ( confirm("The content will be removed, would you like to continue ?") ) {

			$.post('<?php echo $url_operation?>/delete', 'content_id='+content_id+'&token=<?php echo $token?>', function(resp) {
				if ( resp.status == 'ok' ) {
					$(elem).css('display', 'none');
				}
			},'json');

		}
	}


//]]>
</script>