<?
html_title_('Password changing');
html_header_('js','sha1.js');
html_header_('js','util.js');
?>

<div id='login_area'>
	<div id="login_content">
		<h2>Change your password</h2>
		<p>Account: <?=$user['login']?></p>
		<form action='<?=$action?>' onsubmit='return btnChange();' id='frm'>
			<?form_hidden_('token', $token);?>
			<p><div class='fieldname'>Password</div> <?form_password_('password','','class="admin_input" title="Type your new password."')?></p>
			<span id='out'></span>
			<p><?form_button_('send', 'Change', 'onclick="btnChange($(\'#frm\'), this)"')?></p>
		</form>

		<a href='<?url_to_('/admin')?>'>Attempt login</a>
	</div>
</div>

<script type="text/javascript">

	function btnChange(frm, btn) {
		$('#out').html('');
		buttonClick(btn, "Changing...", function(){
			if ( $('#password').val() == '' ) {
				alert("Password missing.");
				return false;
			}
			$.post($(frm).attr('action'), $(frm).serialize(), function(resp) {
				if (resp.status=='ok') {
					$('#out').addClass('msg_ok');
					$('#out').html('Password changed.');
					$(btn).css('display', 'none');
				} else {
					$('#out').html(resp.content.text);
					$('#out').addClass('msg_error');
				}

			}, 'json');
		});

	}


</script>