<?php
html_title_('Password recovery');
html_header_('js','util.js');
?>

<div id='login_area'>
	<div id="login_content">
		<h2>Password recovery</h2>
		<p>Put your mail address to receive instructions to change your password.</p>
		<form action='<?php echo $action?>' onsubmit='return btnRecover();' id='frm'>
			<?php form_hidden_('token', $token);?>
			<p><div class='fieldname'>Email address</div> <?php form_input_('login','','class="admin_input" title="Type your email address."')?></p>
			<span id='out'></span>
			<p><?php form_button_('send', 'Send instructions', 'onclick="btnRecover($(\'#frm\'), this)"')?></p>
		</form>

		<a href='<?php url_to_('/admin')?>'>Attempt login</a>
	</div>
</div>

<script type="text/javascript">

	function btnRecover(frm, btn) {
		$('#out').html('');
		buttonClick(btn, "Sending...", function(){
			$.post($(frm).attr('action'), $(frm).serialize(), function(resp) {
				if (resp.status=='ok') {
					$('#out').addClass('msg_ok');
					$('#out').html('Instructions sent.');
					$(btn).css('display', 'none');
				} else {
					$('#out').html(resp.content.text);
					$('#out').addClass('msg_error');
				}

			}, 'json');
		});

	}


</script>