		<form action="" method="post" id='frmUser' onsubmit='return false;'>
			<?php form_hidden_('token', $token)?>
			<p>User login: <?php form_input_('login', $user, 'class="admin_input"')?></p>
			Change password
			<div class='group_area' style='text-align:right'>
				Current: <?php form_password_('password', '', 'class="admin_input" ')?><br/>New: <?php form_password_('new_password', '', '')?>
			</div>
		</form>
		<p><?php form_button_('btnSaveUser', 'Save', 'onclick="saveUser()"')?><span id='out'></span></p>


    <script type="text/javascript">
    //<![CDATA[
		function saveUser() {
			buttonClick($('#btnSaveUser'), "Saving...", function(){
				$('#out').html('');
				$('#password').val( new jsSHA($('#password').val(), "ASCII").getHash('HEX') );
				$('#new_password').val( new jsSHA($('#new_password').val(), "ASCII").getHash('HEX') );
				$.post('<?php echo $action?>', $('#frmUser').serialize(), function(resp) {
					$('#out').attr('class','msg_'+resp.status);
					if ( resp.status == 'ok' ) {
						$('#out').html("Saved at "+resp.content.text);
					} else {
						$('#out').html(resp.content.text);
					}
				},'json');
				$('#password').val('');
				$('#new_password').val('');
			});
		}
    //]]>
    </script>
