<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title><?php echo html_title_();?></title>
	<?php html_header_('css', 'admin.css?v=1')?>
	<script type="text/javascript" src="<?php url_asset_('/js/jquery.js?v=142')?>"></script>
	<?php html_header_('js','sha1.js');?>
    <?php html_header_(); ?>
</head>
<body>

<?php echo $content ?>

</body>
</html>