<?
$url	= url_to_('/', true);
$config = Liber::loadModel('Config', true)->data( Array('site_name', 'facebook_url', 'twitter_url') );
$url_rss = Liber::loadClass('FeedCache', 'APP', true)->url('rss2');
$topics = Liber::loadModel('ContentType', true)->listByStatus('A');

?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<? html_meta_(); ?>
	<title><?=html_title_();?></title>
	<link rel="stylesheet" type="text/css" media="screen" href="<?url_asset_('/css/main.css?v=1')?>"/>
	<link rel="alternate" type="application/rss+xml" title="<?=html_title_();?>" href="<?=$url_rss?>" />
	<script type="text/javascript" src="<? url_asset_('/js/jquery.js?v=142')?>"></script>
	<script type="text/javascript" src="<?url_asset_('/js/main.js?v=11')?>"></script>
    <? html_header_(); ?>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#sidebar").load("<?=$url?>recents");
            $("#search").focusout(function (){
                this.value = "Search";
                $(this).css('color','#969696');
            });
            $("#search").focusin(function (){
                this.value = "";
            });
            <?=html_script_();?>
        });
    </script>
</head>

<body>
<div id="css_header_wrapper">
    <div id="css_header" >
        <div id="site_title">
            <h1><a href="<?=$url?>" target="_parent"><span class='app_title'><?=$config['site_name']?></span></a></h1>
        </div>
        <br/>
        <div id='search_form' style='text-align:right'>
			<form method='post' action='<?=$url?>search' ><input id='search' type='text' name='search' value='Search' /></form>
			<div id='nav_social'>
				<? 	if ( $config['facebook_url'] ) {?>
					<a href='<?=$config['facebook_url']?>' title='Go to Facebook page'><img src="<?url_asset_('/image/facebook.png')?>" alt="Facebook"/></a>
				<?	}?>
				<? 	if ( $config['twitter_url'] ) {?>
					<a href='<?=$config['twitter_url']?>' title='Go to Twitter page'><img src="<?url_asset_('/image/twitter.png')?>" alt="Twitter"/></a>
				<?	}?>
				<a href='<?=$url_rss?>' title='Lasts Contents'><img src="<?url_asset_('/image/rss.png')?>" alt="Feed"/></a>
			</div>
		</div>

        <span class='description'></span>
    </div>
</div>

<div id="css_menu_wrapper">
    <div id="css_menu">

        <ul class="nav_menu">
            <li><h2><a href="<?=$url?>" >Home</a></h2></li>
			<?  foreach($topics as $aContType) {?>
				<li><h2><a href="<?=$url.rawurlencode($aContType['description'])?>" ><?=$aContType['description']?></a></h2></li>
			<?	}?>
            <li><h2><a href="<?=$url.rawurlencode('contact')?>">Contact</a></h2></li>
        </ul>


    </div> <!-- end of css_menu -->
</div>


<?=$content ?>

<div id="css_footer_wrapper">

    <div id="css_footer">

        <ul class="footer_menu">
            <li><a href="<?=$url?>" >Home</a></li>
			<?  foreach($topics as $aContType) {?>
				<li><a href="<?=$url.rawurlencode($aContType['description'])?>" ><?=$aContType['description']?></a></li>
			<?	}?>
            <li class="last_menu"><a href="<?=$url.rawurlencode('contact')?>">Contact</a></li>
        </ul>

        Copyright © 2011 <?=$config['site_name']?> <a href="<?=$url?>"><?html_title_();?></a> |
        Powered by: <a href="http://github.com/djalmaoliveira/LiberSB">LiberSB</a>
        <br/>
        Website Template
        by
        <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
    </div>
</div>
</body>
</html>