#editor_tab_area #cke_bottom_body, 
#editor_tab_area #cke_top_body {
    background:transparent;
    border-style:none;
}
#editor_tab_area .cke_resizer {
    display:none;
}
#editor_tab_area .cke_toolbox_collapser, #editor_tab_area .cke_toolbar_start {
    display:none;
}

#editor_tab_area .cke_button a,   #editor_tab_area .cke_label{
    background:transparent; 

 }
 
#editor_tab_area .cke_dialog_ui_button {
    background:red;
}
