<?
html_title_( implode(' » ', $pageName) );
html_header_('js', 'main.js');
html_header_('js', 'util.js');
?>
<div id="css_content_wrapper">

    <div id="css_sidebar">

        <span id='sidebar'>
                <div class="sidebar_box">

                    <h2>Recents</h2>

                        <div class="news_box">
                           <p class="post_info"> Loading...</p>
                        </div>


                </div><div class="sidebar_box_bottom"></div>
        </span>


    </div> <!-- end of sidebar -->

    <div id="css_content">
    <div id="location">You are seeing » <?=implode(' » ',$pageName)?></div>

        <div class="content_box">
            <h2><a href="<?content_url_($content)?>"><?=$content['title']?></a></h2>
            <div class="cleaner"></div>
			<br/>
            <div id="comment_nav">
                <a href='javascript:void(0)' onclick='leaveComment("<?url_to_('/comment')?>?content_id=<?=$content['content_id']?>", this)'>Leave a comment</a>
            </div>
        </div>

        <div class="content_box_bottom" >
        </div>

    <?
        foreach ($comments as $comment) {
            content_comment_show_($comment);
        }
    ?>


    </div> <!-- end of content -->

    <div class="cleaner"></div>

</div>


