<div id='comment_form_place'>
	<div id='comment_form'>
		<hr/>
		<form action='<?php echo $action?>' onsubmit='return false;' id='frmComment'>
			<?php form_hidden_('token');?>
			<?php form_hidden_('content_id');?>
			Name : <?php form_input_('name')?> Email : <?php form_input_('email')?>

			<p><?php form_textarea_('comment')?></p>
			<span id='out'></span>
			<div></div>
			<?php form_button_('btnSend', 'Submit Comment', 'onclick="sendComment($(\'#frmComment\'), this)"')?>

		</form>
	</div>
</div>