<?html_title_($content['title'])?>
<div id="templatemo_content_wrapper">

    <div id="templatemo_sidebar">

        <span id='sidebar'>
                <div class="sidebar_box">

                    <h2>Recents</h2>

                        <div class="news_box">
                           <p class="post_info"> Loading...</p>
                        </div>


                </div><div class="sidebar_box_bottom"></div>
        </span>


    </div> <!-- end of sidebar -->

    <div id="templatemo_content">
    <div id="location">You are seeing » <?=$description?> » <?=$content['title']?></div>
    <?

        content_show_($content);

    ?>


    </div> <!-- end of content -->

    <div class="cleaner"></div>

</div>


