

<div id="templatemo_content_wrapper">

    <div id="templatemo_sidebar">

        <span id='sidebar'>
                <div class="sidebar_box">

                    <h2>Recents</h2>

                        <div class="news_box">
                           <p class="post_info"> Loading...</p>
                        </div>


                </div><div class="sidebar_box_bottom"></div>
        </span>

    </div> <!-- end of sidebar -->

    <div id="templatemo_content">




        <div class="content_box">

            <h2>Welcome to Education</h2>

            <p> <a href="http://www.templatemo.com/page/1" target="_parent">Free CSS Templates</a> are provided by <a href="http://www.templatemo.com" target="_parent">templatemo.com</a> for everyone. Feel free to download, edit and apply this template for your personal or business websites. Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>. Credit goes to <a href="http://www.publicdomainpictures.net/">Public Domain Pictures</a> for photos used in this template. Nam ut libero at lacus feugiat tincidunt vitae sed ipsum.</p>

          <div class="cleaner_h20"></div>

            <div class="image_fl">
                <img src="<? url_asset_('/image/'); ?>templatemo_images01.jpg" alt="image" />
            </div>

            <div class="section_w250 float_r">

                <ul class="list_01">
                      <li>Praesent condimentum magna ut </li>
                      <li>Nunc luctus eros eu enim gravida ut </li>
                      <li>Phasellus nec ante eget felis </li>
                      <li>Morbi pellentesque tellus adipiscing </li>
                      <li>Nunc accumsan sagittis sem, ut </li>
                      <li>Nunc luctus eros eu enim gravida ut </li>
                      <li>Phasellus nec ante eget felis </li>
              </ul>

            </div>

            <div class="cleaner"></div>
        </div><div class="content_box_bottom"></div>

        <div class="content_box">

            <h2>Testimonial</h2>

            <div class="section_w250 float_l">
                <h3>Praesent sollicitudin</h3>
                <p>Nullam faucibus volutpat sapien sit amet tristique. Suspendisse venenatis, urna nec rhoncus suscipit, turpis turpis auctor nisi.</p>

            </div>

            <div class="section_w250 float_r">
                <h3>Quisque blandit</h3>
                <p>Morbi blandit ipsum sed purus vestibulum bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nibh sed tellus.</p>

            </div>


            <div class="cleaner"></div>
        </div><div class="content_box_bottom"></div>

    </div> <!-- end of content -->

    <div class="cleaner"></div>

</div>