

<div id="css_content_wrapper">

    <div id="css_sidebar">

        <span id='sidebar'>
                <div class="sidebar_box">

                    <h2>Recents</h2>

                        <div class="news_box">
                           <p class="post_info"> Loading...</p>
                        </div>


                </div><div class="sidebar_box_bottom"></div>
        </span>

    </div> <!-- end of sidebar -->

    <div id="css_content">




        <div class="content_box">

            <h2>Welcome to LiberBlog</h2>

            <p> This is a simple LiberBlog example that you can change.</p>

			<p> This application has some features like:</p>
			<div class="cleaner_h20"></div>
			<p>
                <ul class="list_01">
                      <li>Very simple manipulation content;</li>
                      <li>Uses Funky cache concept to maximize page load speed;</li>
                      <li>Can be changed to your personal project;</li>
                      <li>Uses Liber Framework as a application core;</li>
				</ul>
			</p>


            <div class="cleaner"></div>
        </div><div class="content_box_bottom"></div>

        <div class="content_box">

            <h2>Testimonial</h2>

            <div class="section_w250 float_l">
                <h3>Praesent sollicitudin</h3>
                <p>Nullam faucibus volutpat sapien sit amet tristique. Suspendisse venenatis, urna nec rhoncus suscipit, turpis turpis auctor nisi.</p>

            </div>

            <div class="section_w250 float_r">
                <h3>Quisque blandit</h3>
                <p>Morbi blandit ipsum sed purus vestibulum bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nibh sed tellus.</p>

            </div>


            <div class="cleaner"></div>
        </div><div class="content_box_bottom"></div>

    </div> <!-- end of content -->

    <div class="cleaner"></div>

</div>