<?php
html_title_( implode(' » ', $pageName) );
html_header_('js', 'util.js');
?>

<div id="css_content_wrapper">

    <div id="css_sidebar">

        <div id='sidebar'>
                <div class="sidebar_box">
                    <div class='sidebar_title'>Recents</div>
                        <div class="news_box">
                           <p class="post_info"> Loading...</p>
                        </div>
                </div><div class="sidebar_box_bottom"></div>
        </div>


    </div> <!-- end of sidebar -->

    <div id="css_content">
    <div id="location">You are seeing » <?php echo implode(' » ',$pageName)?></div>
    <?php
		if ( count($contents) != 0 ) {
			foreach ($contents as $content) {
				content_show_($content, $isSummary);
			}

			if ( !$isSummary ) {
				html_meta_(Array('name'=>'description', 'content'=>"Talking about ".$content['title']));
			} else {
				html_meta_(Array('name'=>'description', 'content'=>implode(' » ',$pageName).". Access this blog and see more subjects."));
			}

		} else {
    ?>
        <div class="content_box">


            <h2>Terms searched not found.</h2>
            <div class="cleaner"></div>

        </div>
        <div class="content_box_bottom" >
        </div>



	<?php	}?>
    </div> <!-- end of content -->

    <div class="cleaner"></div>
</div>
<?php echo content_comment_form_();?>