<?html_title_('Page not found')?>
<div id="templatemo_content_wrapper">

    <div id="templatemo_content">

        <div class="content_box">

            <h2><span style='color:red'>Page not found</span></h2>

            <div>

                <p>Trying to access: <?=$url?></p>
                <p>Please try search using some terms that you would like to find.</p>

            </div>

            <div class="cleaner"></div>
        </div><div class="content_box_bottom"></div>


    </div> <!-- end of content -->

    <div class="cleaner"></div>

</div>


