        <div class="sidebar_box">
            <div class='sidebar_title'>Recents</div>
            <?php  foreach($list as $content) {?>

                <div class="news_box">
                    <a href="<?php echo content_url_($content, true)?>"><?php echo $content['title']?></a>
                    <p class="post_info">Last update <span><?php echo dt_timesince_($content['datetime'])?> ago</span></p>
                </div>
            <?php  }?>
        </div><div class="sidebar_box_bottom"></div>