<?php html_title_('Oops, we have a problem!')?>
<div id="css_content_wrapper">
<br/>
    <div id="css_content" style='margin-right:150px'>

        <div class="content_box" >

            <h2><span style='color:red'>Congratulations, or not ?!</span></h2>

            <div style='font-weight:bold'>

                <p></p>
                <br/>
				<p>Our team of predictors found a problem and stopped your request before could hurt you.</p>
				<br/>
				<p>By now, they have worked to fix this problem, but if you continue getting the same issue, please try some of following tips: </p>
                <ul>
					<li>Wait while the requested page is fixed;</li>

                    <li>Try to make a <a href='<?php url_to_('/')?>contact'>contact</a> telling about this problem;</li>

                    <li>Might the page can not exist any more;</li>

					<li>Start to pray ?! :)</li>
                </ul>
            </div>

            <div class="cleaner"></div>
        </div><div class="content_box_bottom"></div>


    </div> <!-- end of content -->

    <div class="cleaner"></div>

</div>
<br/>

